@{
    ViewData["Title"] = "Home Page";
}

<h1>Link Create Form</h1>
<button id="createLinkButton" onclick="javascript:PlotPlan.addLink();">Add Link</button>
<label for="linkName">Link name</label>
<input id="linkName" type="text" />

<h1>Links Grid</h1>
<div id="links"></div>

<h1>Links Errors</h1>
<div id="errors"></div>