:root {
    /* Типографика */
    font-size: 16px;
    font-family: Arial,Helvetica,sans-serif;

    /* Переменные */
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

* {
    box-sizing: border-box;
}

html, body {
    /* Блочная модель */
    margin: 0;
    padding: 0;
    
    /* Типографика */
    color: #000000;

    background-color: #ffffff;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background-color: #6649b8;
}

main {
    margin-left: 5rem; /* 5 * font-size e.g. 5 * 16px = 80px */
    padding: 1rem;
}

/* .visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
} */

.header__menu {
    position: fixed;
    background-color: var(--bg-primary);
    height: 100%;
    transition: width 600ms ease;
}

.header__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100%;
}


/* move last item to the bottom */
.header__list__item:last-child {
    margin-top: auto;
}

.header__link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.header__link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.header__link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* SVG Hover Styles */
.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

/* LOGO */
.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.header__menu:hover .logo svg {
    transform: rotate(-180deg);
}

/* Mobile support */

/* Small Screens */
@media only screen and (max-width: 600px) {
    .header__menu {
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }

    .logo {
        display: none;
    }

    .header__list {
        flex-direction: row;
        align-items: center;
    }

    .header__link {
        justify-content: center;
    }

    .header__list__item:last-child {
        margin-top: 0;
    }

    main {
        margin: 0;
    }
}

/* Large Screens */
@media only screen and (min-width: 600px) {
    .header__menu {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .header__menu:hover {
        width: 16rem;
    }

    .header__menu:hover .link-text {
        display: block;
    }
}


/* Theme Button */
/* .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}


.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
} */